{% load i18n static %}
<!DOCTYPE html>{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'board/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'board/css/style.css' %}">
    {% block extra_css %}{% endblock %}
    <title>{% block title %}My books{% endblock %}</title>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
            <a class="navbar-brand" href="#">Board App</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Signup</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Login</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>


    <div class="container">
        {% block content %}
        {{ content }}
        {% endblock %}
    </div>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h3>Your Logo</h3>
                    <p>© 2016 Your Company. Designed and Developed by <a target="_blank"
                            href="http://www.themeinthebox.com">ThemeintheBox.com</a></p>
                </div>
            </div>
        </div>
    </footer>
    <script src="{% static 'board/js/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'board/js/bootstrap.bundle.min.js' %}"></script>
    {% block extra_js %}{% endblock %}
</body>

</html>