{% extends "board/base.html" %}

{% block title %}test{% endblock title %}

{% block content %}
<div class="container-fluid">
    <!-- change the image in style.css to the class header .container-fluid [approximately row 50] -->
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-xs-10">
                <a href="#" class="thumbnail logo">
                    <img src="" alt="" class="img-responsive">
                </a>
            </div>
        </div>
        <div class="jumbotron">
            <h1><small>テキスト、テキスト</small></br>
                <strong>メインメッセージ</strong></h1>
            <p>ここに文章が入ります。ここに文章が入ります。ここに文章が入ります。ここに文章が入ります。</p>
            <p><a class="btn btn-primary btn-lg" role="button">Sign Up</a> <a target="_blank" href="#"
                    class="btn btn-lg btn-danger" role="button">Login</a></p>
        </div>
    </div>
</div>
{% endblock content %}