{% extends "board/base.html" %}

{% block title %}login{% endblock title %}

{% block content %}
<div class="container-fluid">
    <!-- change the image in style.css to the class header .container-fluid [approximately row 50] -->
    <div class="container">
        <div class=" card">
            <div class="card-header bg-dark text-white">
                Let's SingUp
            </div>
            <div class="card-body">
                <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for field in form %}
                    <div class="form-group">
                        <label for="{{ field.id_for_label }}">{{ field.label_tag }}</label>
                        {{ field }}
                        {{ field.errors }}
                    </div>
                    {% endfor %}
                    <div class="form-group">
                        <button type="submit" class="btn btn-info">SingUp</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}