{% extends "board/base.html" %}

{% block title %}User Update{% endblock title %}

{% block content %}
<div class="container-fluid">
    <!-- change the image in style.css to the class header .container-fluid [approximately row 50] -->
    <div class="container">
        <div class="jumbotron">
            <h1>スレッド作成</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-info btn-lg">送信</button>
            </form>
        </div>
    </div><!-- /container -->
</div>
{% endblock content %}